extends layout
block content
    h1 #{title}
    form(action='/register' method='post')
        p
            input(type='text' name='username' placeholder = 'Name')
        p
            input(type='password' name='password' placeholder = 'Password')
        p
            input(type='text' name='nick' placeholder = 'Nickname')
        p
            input(type='submit' value='Submit')